<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="images/favicon-icon.png" />

    <title>Sistema Plataformas</title>

    <script>
        $(document).ready(function(){

            $('#btn_pesquisar').click(function(){
                var horario = $('#horario').val();

                $.ajax({
                    url: '/horario/pesquisar',
                    method: 'post',
                    data: {
                        horario: horario
                    },
                    success: function(data){

                        if (data == 'error') {
                            var html = '';
                            html += '<br/>';
                            html += '<div class="alert alert-danger alert-dismissible" role="alert">';
                                html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
                                html += '<strong>Atenção!</strong> Você esqueceu de informar algum valor!';
                            html += '</div>';

                            $('#msg').html(html);
                            return;
                        }

                        var data = JSON.parse(JSON.stringify(data));
                        var arrayHorarios = data.horarios;
                        var plataformasLivres = data.plataformasLivres;

                        var html = '';

                        if(plataformasLivres.length < 0){
                            html += '<div class="page-header">';
                                html += '<h1>Não há plataformas disponíveis neste horário!</h1>';
                            html += '</div>';
                        } else {
                            html += '<div class="page-header">';
                                html += '<h1>Plataformas disponíveis</h1>';
                            html += '</div>';

                            html += '<div class="btn-group btn-group-justified" role="group" aria-label="...">';
                                for (var i = 0; i < plataformasLivres.length; i++) {
                                    html += '<div class="btn-group" role="group">';
                                        html += '<button type="button" class="btn btn-default btn_plataforma_livre">' + plataformasLivres[i] + '</button>';
                                    html += '</div>';
                                }
                            html += '</div>';
                        }
                        $('#msg_poltronas_livres').html(html);
                        $('#text_ultimos_horarios').html('Cadastrados neste horário');

                        html = '';
                        for(var i = 0; i < arrayHorarios.length; i++ ){

                            arrayHorarios[i].horario = new Date(arrayHorarios[i].horario);

                            var cloud = true;
                            if(cloud){
                                var offset = arrayHorarios[i].horario.getTimezoneOffset();
                                arrayHorarios[i].horario = arrayHorarios[i].horario.getTime() + (offset * 60000);
                                arrayHorarios[i].horario = new Date(arrayHorarios[i].horario);
                            }

                            if(arrayHorarios[i].tipo == 'Extra') {
                                html += '<tr class="info">';
                            } else {
                                html += '<tr>';
                            }
                                html += '<td>'+arrayHorarios[i].empresa+'</td>';
                                html += '<td>'+arrayHorarios[i].rota+'</td>';
                                html += '<td>'+arrayHorarios[i].tipo+'</td>';
                                html += '<td>'+ formatDate(arrayHorarios[i].horario) +'</td>';
                                html += '<td>'+arrayHorarios[i].plataforma+'</td>';
                                html += '<td>';
                                    html += '<center><button type="button" class="btn btn-danger btn-sm btn_excluir_horario" value="'+arrayHorarios[i]._id+'">';
                                        html += '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>';
                                    html += '</button></center>';
                                html += '</td>';
                            html += '</tr>';
                        }
                        $('#corpo_tabela').html(html);

                        $('.btn_plataforma_livre').click(function(){
                            var numero = $(this).html();

                            window.location.href = "/form_add_horario?horario="+horario+"&numero="+numero;
                        });

                        $('.btn_excluir_horario').click( function(){
                            var _id = $(this).val();
                            deleteHorario(_id);
                        });

                    },
                    beforeSend: function(){
                        $('#img_loader').css({display:"block"});
                        $('#corpo_tabela').html('');
                    },
                    complete: function(){
                        $('#img_loader').css({display:"none"});
                    }
                }); // fim do ajax

            });

            $('.btn_excluir_horario').click( function(){
                var _id = $(this).val();
                deleteHorario(_id);
            });

            $('#btn_entrar').click( function(){
                var usuario = $('#usuario').val();
                var senha = $('#senha').val();

                $.ajax({
                    url: '/autenticar',
                    method: 'post',
                    data: {
                        usuario: usuario,
                        senha: senha
                    },
                    success: function(data){
                        var html = '';
                        if (data.status == 'Erro de validacao') {
                            html += '<div class="alert alert-danger alert-dismissible" role="alert">';
                                html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
                                html += '<strong>Atenção!</strong>';
                                html += '<ul>';
                                for(var i = 0; i < data.erros.length; i++) {
    								html += '<li>'+ data.erros[i].msg +'</li>';
    							}
    							html += '</ul>';
                            html += '</div>';
                        }
                        if (data.status == 'Usuario ou senha incorretos') {
                            html += '<div class="alert alert-danger alert-dismissible" role="alert">';
                                html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
                                html += '<strong>Usuario ou senha incorretos!!</strong>';
                            html += '</div>';
                        }
                        if (data.status == 'Usuario autenticado com sucesso') {
                            html += '<div class="alert alert-success">';
                                html += '<strong>Usuário autenticado com sucesso!</strong>';
                            html += '</div>';
                            setTimeout(function(){
                                $('#msg').html('');
                            }, 2500);

                            $('#nome_usuario').html(data.nome_completo);

                            $('#li_form_entrar').css({display:"none"});
                            $('#li_btn_sair').css({display:"block"});
                            $('#li_dropdown_entrar').removeClass("open");
                        }
                        $('#msg').html(html);
                    }
                }); // fim ajax
            });

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day   = '' +  d.getDate(),
                    year  = '' +  d.getFullYear(),
                    min   = '' +  d.getMinutes(),
                    hour  = '' +  d.getHours();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                if (hour.length < 2) hour = '0' + hour;
                if (min.length < 2)  min  = '0' + min;

                return day + '/' + month + '/' + year + ', ' + hour + ':' + min;;
            }

            function deleteHorario(_id){
                $.ajax({
                    url: '/horario/deletar',
                    method: 'post',
                    data: {
                        _id: _id
                    },
                    success: function(data){
                        var html = '';
                        if (data.status == 'Deletado com sucesso') {
                            html += '<div class="alert alert-success">';
                                html += '<strong>Remoção realizada com sucesso!</strong>';
                            html += '</div>';
                            setTimeout(function(){
                                window.location.href = "/";
                            }, 2500);
                        }
                        if (data.status == 'Usuário precisa estar conectado para acessar essa área!') {
                            html += '<div class="alert alert-danger alert-dismissible" role="alert">';
                                html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
                                html += '<strong>Usuário precisa estar conectado para executar essa ação!</strong>';
                            html += '</div>';
                        }
                        if (data.status == 'erro') {
                            html += '<div class="alert alert-success alert-dismissible" role="alert">';
                                html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
                                html += '<strong>Houve algum erro ao tentar remover!</strong>';
                            html += '</div>';
                        }
                        $('#msg').html(html);
                    }
                }); // fim ajax
            }


        });
    </script>
</head>
<body>
    <!-- Barra navegação -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#barra-navegacao">
                <span class="sr-only">Alternar Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">LOGO</a>
        </div>

        <div class="collapse navbar-collapse" id="barra-navegacao">
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="datetime-local" class="form-control" id="horario" name="horario" required >
                </div>
                <button type="submit" class="btn btn-primary" id="btn_pesquisar">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li> <a href="/">Home</a> </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Horarios <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a href="/form_add_horario">Cadastrar Horarios</a> </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Empresas <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a href="/empresas">Empresas</a> </li>
                        <li> <a href="/form_add_empresa">Cadastrar Empresa</a> </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Usuários <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a href="/usuarios">Usuários</a> </li>
                        <li> <a href="/form_add_usuario">Cadastrar Usuário</a> </li>
                    </ul>
                </li>
                <li class="dropdown" id="li_dropdown_entrar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <% if(usuarioAutenticado == false){ %>
                        <span id="nome_usuario"> Minha Conta </span>
                        <% } else { %>
                        <span id="nome_usuario"><%=nome_completo%></span>
                        <% } %>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <% if(usuarioAutenticado == false){ %>
                        <li id="li_form_entrar">
                        <% } else { %>
                        <li id="li_form_entrar" style="display:none">
                        <% } %>
                            <div class="col-sm-12">
                                <form class="navbar-form">
                       				<div class="form-group">
                       					<input type="text" class="form-control" id="usuario" placeholder="Digite seu usuário">
                       				</div>
                       				<div class="form-group">
                       					<input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
                       				</div>
                       				<button type="button" class="btn btn-primary btn-block" id="btn_entrar">Entrar</button>
                                </form>
                   			</div>
                        </li>
                        <% if(usuarioAutenticado == true){ %>
                        <li id="li_btn_sair">
                        <% } else { %>
                        <li id="li_btn_sair" style="display:none">
                        <% } %>
                            <a href="/sair">Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Fim Barra navegação -->

    <div class="container">

        <div id="msg">
        <% if(msg != '') {%>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><%= msg %></strong>
            </div>
        <% } %>
        </div>

        <div id="msg_poltronas_livres"></div>

        <div class="page-header">
   			<h1 id="text_ultimos_horarios">Últimos horários cadastrados</h1>
   		</div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead >
                            <tr>
                                <th>Empresa</th>
                                <th>Rota</th>
                                <th>Tipo</th>
                                <th>Horário</th>
                                <th>Plataforma</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody id="corpo_tabela">
                            <!-- Inserir conteudo tabela -->
                            <% if(horarios.length > 0) { %>
        						<% for(var i = 0; i < horarios.length; i++) { %>
                                    <% if(horarios[i].tipo == 'Extra') { %>
                                    <tr class="info">
                                    <% } else { %>
                                    <tr>
                                    <% } %>
                                        <td><%=horarios[i].empresa%></td>
                                        <td><%=horarios[i].rota%></td>
                                        <td><%=horarios[i].tipo%></td>
                                        <td><%=horarios[i].horario%></td>
                                        <td><%=horarios[i].plataforma%></td>
                                        <td>
                                            <center><button type="button" class="btn btn-danger btn-sm btn_excluir_horario" value="<%=horarios[i]._id%>">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button></center>
                                        </td>
                                    </tr>
        						<% } %>
                			<% } %>
                        </tbody>
                    </table>
                </div>
                <center><img src="images/loader.gif" style="display: none" id="img_loader"></center>

            </div>
        </div> <!-- /row -->
    </div> <!-- /container -->

</body>
</html>
